{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>뜻</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if word_list %}
        {% for word in word_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'voca:detail' word.id %}">{{ word.subject }}</a>
            </td>
            <td>{{word.meaning}}</td>
            <td>{{ word.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">단어가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{% url 'voca:word_create' %}" class="btn btn-primary">새로운 단어 등록하기</a>
</div>
{% endblock %}